<div class="sidebar w-100">
    <div style="width: 100%;" class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <p href="/" class="d-flex align-items-center me-md-auto">
            <span (click)="sidebar()" class="fs-5">Logo</span>
        </p>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0" id="menu">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link align-middle px-0">
                    <i class="fa-solid fa-table-columns"></i>
                    <span class="menu_list">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/classes" class="nav-link px-0 align-middle">
                    <i class="fa-regular fa-folder-open"></i>
                    <span class="menu_list">Classes</span> </a>
            </li>
            <li>
                <a href="/resources" class="nav-link px-0 align-middle">
                    <i class="fa-regular fa-file"></i>
                    <span class="menu_list">Resources</span></a>
            </li>
            <li>
                <a href="/learning-plan" class="nav-link px-0 align-middle ">
                    <i class="fa-solid fa-chalkboard"></i>
                    <span class="menu_list">Learning plane</span></a>

            </li>
            <li>
                <a href="/chat" class="nav-link px-0 align-middle">
                    <i class="fa-regular fa-comment"></i>
                    <span class="menu_list">Chat</span></a>
            </li>
            <li>
                <a href="/setting" class="nav-link px-0 align-middle">
                    <i class="fa-solid fa-gear"></i>
                    <span class="menu_list">Settings</span> </a>

            </li>
        </ul>
        <hr>
    </div>
</div>