<section id="rightbar-container">
<header>
    <b>Logout</b>
    <span > <i class="fa-solid fa-arrow-right-from-bracket" (click)="logout()"></i></span>
</header>
<div class="profile">
    <div class="profile-top">
        <img src="assets/images/img1.png" alt="">
    </div>
    <div class="profile-bottom">
        <h5>Anna Marrison</h5>
        <span>Student</span>
    </div>
</div>


    <div class="Course">
      <div class="main-Course" >
        <button class="btn" type="submit"><b>B2</b></button>
        <div class="text">
          <span> English</span><br>
         <p>high intermediate</p>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
      <div class="main-Course" >
        <button class="btn" type="submit"><b>B2</b></button>
        <div class="text">
          <span>spanish</span><br>
         <p>Advanced</p>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
     </div>

     <div class="reminders">
        <div class="reminder-head">
            <B>Reminder</B>
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="reminder-card">
            <button class="btn" type="submit"><b>B2</b></button>
           
            <div class="text">
                <p>Eng-vocabulary test</p>
                <span>24 Sep Web</span>
            </div>
        </div>
        <div class="reminder-card">
            <button class="btn" type="submit"><b>B2</b></button>
           
            <div class="text">
                <p>Eng-vocabulary test</p>
                <span>24 Sep Web</span>
            </div>
        </div>
        <div class="reminder-card">
            <button class="btn" type="submit"><b>B2</b></button>
           
            <div class="text">
                <p>Eng-vocabulary test</p>
                <span>24 Sep Web</span>
            </div>
        </div>
        <div class="reminder-card">
            <button class="btn" type="submit"><b>B2</b></button>
           
            <div class="text">
                <p>Eng-vocabulary test</p>
                <span>24 Sep Web</span>
            </div>
        </div>
     </div>

</section>
